header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: : 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
#logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
}
#logo img {
  padding-right: 12px;
}
nav {
  display: inline-flex;
  justify-content:flex-end;
  align-items: center;
  padding-right: 40px;
}
nav a {
  display: inline-block;
  padding: 20px 10px;
}
div {
  border: 1px solid black;
}
.column {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.column.large {
  display: flex;
  width: 630px;
}
.column.medium {
  display: flex;
  width: 300px;
}
.column.small {
  display: flex;
  width: 240px;
}
.headline {
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
}
#main {
  background-image: url("img-story-main.png");
  font-size: 40px;
}
#story1 {
  background-image: url("img-story-1.png");
}
#story2 {
  background-image: url("img-story-2.png");
}
#story3 {
  background-image: url("img-story-3.png");
}
